@use '../../scss/abstracts/' as *;
//Faço as minhas componentizações através dos mixins quando componentes pequenos
//Os botões estão padronizados em: src/scss/abstracts/_mixin.scss 
//aqui apenas exemplifico o seu uso.
.container{
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-random-07;
    .left{
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .btnTeste1{
            @include btn-default-big($color-grey-0, $color-grey-0, $color-whiteFixed);
            &:hover{
                @include btn-default-big($color-grey-01, $color-grey-01, $color-whiteFixed);
            }
        }
        .btnTeste2{
            @include btn-default-big($color-grey-06, $color-grey-06, $color-grey-02);
            &:hover{
                @include btn-default-big($color-grey-05, $color-grey-05, $color-grey-02);
            }
        }
        .btnTeste3{
            @include btn-default-big($color-grey-05, $color-grey-05, $color-whiteFixed);
            &:hover{
                @include btn-default-big($color-brand-01, $color-brand-01, $color-whiteFixed);
            }
        }
        .btnTeste4{
            @include btn-default-big($color-brand-02, $color-brand-02, $color-whiteFixed);
            &:hover{
                @include btn-default-big($color-brand-04, $color-brand-04, $color-brand-01);
            }
        }
        .btnTeste5{
            @include btn-default-big($color-grey-10, $color-grey-10, $color-grey-01);
            &:hover{
                @include btn-default-big($color-grey-10, transparent, $color-grey-10);
            }
        }
        .btnTeste6{
            @include btn-default-big($color-grey-10, $color-grey-10, $color-grey-01);
            &:hover{
                @include btn-default-big($color-grey-0, transparent, $color-grey-0);
            }
        }
        .btnTeste7{
            @include btn-default-big($color-grey-01, $color-grey-01, $color-whiteFixed);
            &:hover{
                @include btn-default-big($color-grey-04, transparent, $color-grey-0);
            }
        }
        .btnTeste8{
            @include btn-default-big($color-grey-01, $color-grey-01, $color-whiteFixed);
            &:hover{
                @include btn-default-big($color-brand-01, transparent, $color-brand-01);
            }
        }
        .btnTeste9{
            @include btn-default-big($color-brand-01, $color-brand-04, $color-brand-01);
            &:hover{
                @include btn-default-big(transparent, transparent, $color-grey-0);
            }
        }
        .btnTeste10{
            @include btn-default-big($color-grey-08, $color-grey-08, $color-grey-0);
            &:hover{
                @include btn-default-big($color-alert-03, $color-alert-03, $color-alert-01);
            }
        }
        .btnTeste11{
            @include btn-default-big($color-alert-02, $color-alert-02, $color-alert-01);
            &:hover{
                @include btn-default-big($color-sucess-03, $color-sucess-03, $color-sucess-01);
            }
        }
        .btnTeste12{
            @include btn-default-big($color-sucess-02, $color-sucess-02, $color-sucess-01);
            &:hover{
                @include btn-default-big($color-brand-03, $color-brand-03, $color-brand-04);
            }
        }
    }
    .right{
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .btnTeste1{
            @include btn-default-medium($color-grey-0, $color-grey-0, $color-whiteFixed);
            &:hover{
                @include btn-default-medium($color-grey-01, $color-grey-01, $color-whiteFixed);
            }
        }
        .btnTeste2{
            @include btn-default-medium($color-grey-06, $color-grey-06, $color-grey-02);
            &:hover{
                @include btn-default-medium($color-grey-05, $color-grey-05, $color-grey-02);
            }
        }
        .btnTeste3{
            @include btn-default-medium($color-grey-05, $color-grey-05, $color-whiteFixed);
            &:hover{
                @include btn-default-medium($color-brand-01, $color-brand-01, $color-whiteFixed);
            }
        }
        .btnTeste4{
            @include btn-default-medium($color-brand-02, $color-brand-02, $color-whiteFixed);
            &:hover{
                @include btn-default-medium($color-brand-04, $color-brand-04, $color-brand-01);
            }
        }
        .btnTeste5{
            @include btn-default-medium($color-grey-10, $color-grey-10, $color-grey-01);
            &:hover{
                @include btn-default-medium($color-grey-10, transparent, $color-grey-10);
            }
        }
        .btnTeste6{
            @include btn-default-medium($color-grey-10, $color-grey-10, $color-grey-01);
            &:hover{
                @include btn-default-medium($color-grey-0, transparent, $color-grey-0);
            }
        }
        .btnTeste7{
            @include btn-default-medium($color-grey-01, $color-grey-01, $color-whiteFixed);
            &:hover{
                @include btn-default-medium($color-grey-04, transparent, $color-grey-0);
            }
        }
        .btnTeste8{
            @include btn-default-medium($color-grey-01, $color-grey-01, $color-whiteFixed);
            &:hover{
                @include btn-default-medium($color-brand-01, transparent, $color-brand-01);
            }
        }
        .btnTeste9{
            @include btn-default-medium($color-brand-01, $color-brand-04, $color-brand-01);
            &:hover{
                @include btn-default-medium(transparent, transparent, $color-grey-0);
            }
        }
        .btnTeste10{
            @include btn-default-medium($color-grey-08, $color-grey-08, $color-grey-0);
            &:hover{
                @include btn-default-medium($color-alert-03, $color-alert-03, $color-alert-01);
            }
        }
        .btnTeste11{
            @include btn-default-medium($color-alert-02, $color-alert-02, $color-alert-01);
            &:hover{
                @include btn-default-medium($color-sucess-03, $color-sucess-03, $color-sucess-01);
            }
        }
        .btnTeste12{
            @include btn-default-medium($color-sucess-02, $color-sucess-02, $color-sucess-01);
            &:hover{
                @include btn-default-medium($color-brand-03, $color-brand-03, $color-brand-04);
            }
        }
    }
}