$color-brand-01: #4529E6;
$color-brand-02: #5126EA;
$color-brand-03: #B0A6F0;
$color-brand-04: #EDEAFD;
$color-grey-0: #0B0D0D;
$color-grey-01: #212529;
$color-grey-02: #495057;
$color-grey-03: #868E96;
$color-grey-04: #ADB5BD;
$color-grey-05: #CED4DA;
$color-grey-06: #DEE2E6;
$color-grey-07: #E9ECEF;
$color-grey-08: #F1F3F5;
$color-grey-09: #F8F9FA;
$color-grey-10: #FDFDFD;
$color-whiteFixed: #FFFFFF;
$color-alert-01: #CD2B31;
$color-alert-02: #FDD8D8;
$color-alert-03: #FFE5E5;
$color-sucess-01: #18794E;
$color-sucess-02: #CCEBD7;
$color-sucess-03: #DDF3E4;
$color-random-01: #E34D8C;
$color-random-02: #C04277;
$color-random-03: #7D2A4D;
$color-random-04: #7000FF;
$color-random-05: #6200E3;
$color-random-06: #36007D;
$color-random-07: #349974;
$color-random-08: #2A7D5F;
$color-random-09: #153D2E;
$color-random-10: #6100FF;
$color-random-11: #5700E3;
$color-random-12: #30007D;