@use '../../scss/abstracts/' as *;

.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    .modal{
        width: 100%;
        max-width: 520px;
        height: 354px;
        border-radius: 8px;
        background-color: $color-whiteFixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 16px;
        .description{
            width: 100%;
            height: 24px;
            display: flex;
            justify-content: space-between;
            p{
                @include Heading-7-500;
            }
            .btnClose{
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 20rem;
                color: $color-grey-04;
                cursor: pointer;
                &:hover{
                    color: $color-grey-02;
                }
            }
        }
        .divImg{
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background-color: $color-grey-07;
        }
    }
}
@media(min-width: 720px) {
    .container .modal{
        gap: 32px;
        padding: 32px;
    }   
}