@use '../../scss/abstracts/' as *;
.container{
    width: 100%;
    height: 140px;
    background-color: $color-grey-0;
    display: flex;
    justify-content: center;
    .maxSize{
        // border: 1px solid white;
        width: 100%;
        max-width: 1488px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            align-items: center;
            p{
                color: $color-whiteFixed;
            }
            img{
                cursor: pointer;
            }
        }
    }
}